@import "./components/index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
